/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~rsuite/dist/styles/rsuite-default.css';

@import '~react-dice-complete/dist/react-dice-complete.css';

.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.rs-btn-link.navbar-brand:hover,
.rs-btn-link.navbar-brand:focus {
  color: white;
  text-decoration: none;
}

.die .dot {
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
}
